body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808b6068;
}

header {
    background-color: #118d4f;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#main-content {
    padding: 20px;
}
.line1 {
    background-color: aqua;
}

footer {
    background-color: #382f8a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
